#!/usr/bin/env sh

set -eu

{{ if .requestDevelopmentEssentials }}

{{- $repositorySpecific := dict
  "apt"     (cat "build-essential")
  "yum"     (cat "")
  "dnf"     (cat "")
  "zypper"  (cat "")
  "apk"     (cat "build-base")
-}}

{{- $requestPackages := cat
  "python3"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}

{{ end }}
