#!/usr/bin/env sh

set -eu

{{ if .requestDocker }}

TMPFILE=$(mktemp)
curl -fsSL https://get.docker.com -o $TMPFILE
sh $TMPFILE
rm $TMPFILE

{{ template "sudo" "gpasswd -a $USER docker"  }}

{{ end }}
