#!/usr/bin/env sh

set -eu

{{ template "sudo" .update }}

{{ if eq "amzn" .distId }}
{{   template "sudo" "amazon-linux-extras install -y epel"  }}
{{ else if contains "rhel" .distIdLike }}
{{   template "sudo" cat .install "epel-release" }}
{{ end -}}

