#!/usr/bin/env sh

set -eu

{{ template "sudo" .update }}

{{ if eq "amzn" .distId }}
{{   template "sudo" "amazon-linux-extras install -y epel"  }}
{{ else if or (contains "centos" .distId) (contains "fedora" .distId) }}
{{   template "sudo" cat .install "epel-release" }}
{{ end -}}

