#!/usr/bin/env sh

set -eu

{{ if .requestServerEssentials }}

{{- $repositorySpecific := dict
  "apt"     (cat "openssh-server passwd")
  "yum"     (cat "openssh-server passwd")
  "dnf"     (cat "openssh-server passwd")
  "zypper"  (cat "openssh        passwd")
  "apk"     (cat "openssh-server shadow")
-}}

{{- $requestPackages := cat
  "sudo"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}

# add admin user
sudo userdel -r {{ .requestServerAdminUserName }} | true
sudo groupdel {{ .requestServerAdminGroup }} | true
sudo groupadd {{ .requestServerAdminGroup }}
sudo useradd -s /bin/bash -g {{ .requestServerAdminGroup }} {{ .requestServerAdminUserName }}
echo "{{ .requestServerAdminUserName }}:{{ .requestServerAdminPassword }}" | sudo chpasswd

# set sudoers
sudo mkdir -p /etc/sudoers.d
sudo tee /etc/sudoers.d/{{ .requestServerAdminGroup }} <<EOF >/dev/null
%{{ .requestServerAdminGroup }} ALL=(ALL) ALL
%{{ .requestServerAdminGroup }} ALL=(ALL) NOPASSWD: ALL

Defaults:%{{ .requestServerAdminGroup }} !requiretty
Defaults:%{{ .requestServerAdminGroup }} env_keep += SSH_AUTH_SOCK
EOF
sudo chmod 0440 /etc/sudoers.d/{{ .requestServerAdminGroup }}

{{ end }}
