#!/usr/bin/env bash

set -eu

# nixpkg
{{ if stat "/etc/nix/nix.conf" | not | not }}

sudo bash -l -c "$(cat <<EOF
set -euo pipefail
nix doctor
nix-channel --add https://github.com/nix-community/home-manager/archive/master.tar.gz home-manager
nix-channel --update
nix-shell '<home-manager>' -A install
EOF
)"
# https://wiki.archlinux.jp/index.php/Nix
sudo chown -R ${SUDO_USER}. /nix/var/nix/{gcroots,profiles}
{{ end }}
