#!/usr/bin/env sh

set -eu

{{ if .requestServerEssentials }}

{{- $repositorySpecific := dict
  "apt"     (cat "openssh-server adduser")
  "yum"     (cat "openssh-server adduser")
  "dnf"     (cat "openssh-server adduser")
  "zypper"  (cat "openssh        adduser")
  "apk"     (cat "openssh-server ")
-}}

{{- $requestPackages := cat
  "sudo"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}

# add admin user
deluser --remove-home {{ .requestServerAdminUserName }} | true
delgroup {{ .requestServerAdminGroup }} | true
addgroup {{ .requestServerAdminGroup }}
{{ if eq "alpine" .distId }}
# no gecos is default
adduser -D -s $(which bash) -G {{ .requestServerAdminGroup }} {{ .requestServerAdminUserName }}
{{ else }}
adduser  --disabled-password --gecos --shell $(which bash) --ingroup {{ .requestServerAdminGroup }} {{ .requestServerAdminUserName }}
{{ end }}
echo "{{ .requestServerAdminUserName }}:{{ .requestServerAdminPassword }}" | chpasswd

# set sudoers
mkdir -p /etc/sudoers.d
cat <<EOF > /etc/sudoers.d/{{ .requestServerAdminGroup }}
%{{ .requestServerAdminGroup }} ALL=(ALL) ALL
%{{ .requestServerAdminGroup }} ALL=(ALL) NOPASSWD: ALL

Defaults:%{{ .requestServerAdminGroup }} !requiretty
Defaults:%{{ .requestServerAdminGroup }} env_keep += SSH_AUTH_SOCK
EOF
chmod 0440 /etc/sudoers.d/{{ .requestServerAdminGroup }}

{{ end }}
