#!/usr/bin/env sh

set -eu

# nixpkg
{{ if not (stat "/etc/nix/nix.conf" | not | not) }}

mkdir -p /nix /etc/nix && chmod a+rwx /nix

{{ if and
  .isWsl
  (not .isDocker) }}
# if wsl, should use nixos-wsl
cat <<EOF
#################################################################
Systemd will enable after reboot wsl.
If rebooted, type this to install nixpkg:

$ sh -c "\$(curl -L https://nixos.org/nix/install)" -- --daemon

And execute chezmoi again.
$ sh -c "$(curl -L https://raw.githubusercontent.com/Torimune29/dotfiles-admin/main/bootstrap.sh)"

#################################################################
EOF
{{ else }}
# install nixpkg
bash -c "$(curl -L https://nixos.org/nix/install)" -- --daemon

{{ end }}

{{ end }}
