#!/usr/bin/env sh

set -eu

{{ if .requestDocker }}

TMPFILE=$(mktemp)
curl -fsSL https://get.docker.com -o $TMPFILE
sh $TMPFILE
rm $TMPFILE

{{ $addUserInDockerGroup := "gpasswd -a $USER docker" }}
{{ template "sudo" $addUserInDockerGroup }}

{{ $addUserInDockerGroup }}

{{ end }}
