#!/usr/bin/env sh

set -eu

{{- /* for   bsdtar           gpg   */ -}}
{{- $repositorySpecific := dict
  "apt"     "libarchive-tools gpg   "
  "yum"     "bsdtar           gnupg2"
  "dnf"     "bsdtar           gnupg "
  "zypper"  "bsdtar           gpg2  "
  "apk"     "libarchive-tools gnupg "
-}}

{{- $requestPackages := cat
  "git"
  "curl"
  "ca-certificates"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}
