#!/usr/bin/env sh

set -eu

{{ if .requestDevelopmentEssentials }}
{{ if not eq "alpine" .distId }}
# homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}

{{ end }}
