#!/usr/bin/env sh

set -eu

{{- $repositorySpecific := dict
  "apt" "xz-utils passwd"
  "yum" "xz passwd"
  "dnf" "xz passwd"
  "apk" "xz shadow"
-}}

{{- $requestPackages := cat
  "git"
  "curl"
  "ca-certificates"
  "bash"
  "bash-completion"
  "sudo"
  "tar"
  "python3"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}

{{ if or (contains "ubuntu" .distId) (contains "debian" .distId) }}
# docker
TMPFILE=$(mktemp)
curl -fsSL https://get.docker.com -o $TMPFILE
sh $TMPFILE
rm $TMPFILE
{{   if eq (env "USER") "" | not }}
sudo gpasswd -a $USER docker
{{   end }}
{{ else if contains "rhel" .distIdLike }}
{{   template "sudo" cat .install "podman" }}
{{ end }}

# DNS
{{ if or
  (eq .daemonManager "systemd")
  .isWsl }}
sudo sed -i.bak "/DNS=/d" /etc/systemd/resolved.conf
sudo tee -a /etc/systemd/resolved.conf << EOF > /dev/null
DNS={{ .publicDnsPrimary }} {{ .publicDnsSecondary }}
EOF
{{ else if and
  (not (eq .daemonManager "systemd"))
  (not .isDocker) }}
sudo sed -i.bak "/nameserver/d" /etc/resolv.conf
sudo tee -a /etc/resolv.conf <<EOF > /dev/null
nameserver {{ .publicDnsPrimary }}
nameserver {{ .publicDnsSecondary }}
EOF
{{ end }}
