#!/usr/bin/env sh

set -eu

{{- $repositorySpecific := dict
  "apt"     (cat "xz-utils")
  "yum"     (cat "xz")
  "dnf"     (cat "xz")
-}}

{{- $requestPackages := cat
  "git"
  "curl"
  "ca-certificates"
  "bash"
  "bash-completion"
  "sudo"
  "tar"
  "python3"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}

{{ if or
  (contains "debian" .distId)
  (contains "debian" .distIdLike)
  (contains "rhel" .distIdLike) }}

curl -L -o nix_install.sh https://nixos.org/nix/install
sh nix_install.sh --daemon
rm nix_install.sh

{{ else }}
  {{ fail (cat .distId "is unsupported.") }}
{{ end }}
