#!/usr/bin/env sh

set -eu

{{ if .requestDocker }}

TMPFILE=$(mktemp)
curl -fsSL https://get.docker.com -o $TMPFILE
sh $TMPFILE
rm $TMPFILE
{{ if eq (env "USER") "" | not }}
{{   template "sudo" (expandenv "gpasswd -a $USER docker")  }}
{{ end }}

{{ end }}
