#!/usr/bin/env sh

set -eu

{{- $repositorySpecific := dict
  "apt"     (cat "")
  "yum"     (cat "")
  "dnf"     (cat "")
  "zypper"  (cat "")
  "apk"     (cat "")
-}}

{{- $requestPackages := cat
  "git"
  "curl"
  "ca-certificates"
  (get $repositorySpecific .packageManager)
-}}

{{ template "sudo" cat .install $requestPackages }}
