#!/usr/bin/env sh

set -eu

{{ if .requestDevelopmentEssentials }}
{{ if or
  (contains "debian" .distId)
  (contains "debian" .distIdLike)
  (contains "rhel" .distIdLike) }}
# homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}

{{ end }}
