#!/usr/bin/env sh

set -eu

# nixpkg
{{ if not (lookPath "nix") }}

mkdir -p /nix /etc/nix && chmod a+rwx /nix

# add user for empty users(like alpine)
sudo useradd -s /bin/false -m {{ .nixpkgUser }} | true
sudo mkdir -p /etc/sudoers.d
sudo tee /etc/sudoers.d/90_nix_{{ .nixpkgUser }} <<EOF > /dev/null
{{ .nixpkgUser }} ALL=NOPASSWD: ALL
Defaults env_keep += "NIX_PATH"
EOF

{{ if and
  .isWsl
  (not .isDocker) }}
# if wsl, should use nixos-wsl
cat <<EOF
#################################################################
Systemd will enable after reboot wsl.
If rebooted, type this to install nixpkg:

$ sh -c "\$(curl -L https://nixos.org/nix/install)" -- --daemon
$ sudo chown -R {{ .nixpkgUser }}. /nix/var/nix/gcroots
$ sudo chown -R {{ .nixpkgUser }}. /nix/var/nix/profiles

#################################################################
EOF
{{ else }}
# install nixpkg
bash -c "$(curl -L https://nixos.org/nix/install)" -- --daemon
{{   if .isDocker }}
echo 'sandbox = false' | sudo tee -a /etc/nix/nix.conf > /dev/null
{{   end }}
# modify permission
# see: https://wiki.archlinux.jp/index.php/Nix
sudo chown -R {{ .nixpkgUser }}. /nix/var/nix/gcroots
sudo chown -R {{ .nixpkgUser }}. /nix/var/nix/profiles

{{ end }}

{{ end }}
