#!/bin/sh

# for nixpkg
# see: https://github.com/nix-community/home-manager/issues/2564
export NIX_PATH=${NIX_PATH:+$NIX_PATH:}$HOME/.nix-defexpr/channels:/nix/var/nix/profiles/per-user/root/channels


