#!/bin/sh

set -eu

# see: https://docs.docker.jp/config/daemon/systemd.html#http-https
{{ if and .requestDocker (eq .daemonManager "systemd") .underProxy }}
cat <<EOF
HTTP_PROXY={{ .proxyHttp }}
HTTPS_PROXY={{ .proxyHttps }}
NO_PROXY={{ .proxyNo }}
EOF
{{ end }}
