sourceDir = "/etc/chezmoi/data"
destDir = "/"

[data]
# public DNS server
#  check faster: https://www.dnsperf.com/#!dns-resolvers
#    2022/12 cloudflare
publicDnsPrimary =  "1.1.1.1"
publicDnsSecondary = "1.0.0.1"
