#!/bin/sh

set -eu

{{ if eq .daemonManager "systemd" }}
cat <<EOF
{
  "containerd": "/run/containerd/containerd.sock",
  "debug": true,
  "default-runtime": "runc",
  "dns": ["{{ .publicDnsPrimary }}", "{{ .publicDnsSecondary }}"],
  "features": {"buildkit": true},
  "hosts": ["unix:///var/run/docker.sock", "tcp://0.0.0.0:2375"]
}
EOF
{{ else }}
cat <<EOF
{
  "debug": true,
  "default-runtime": "runc",
  "dns": ["{{ .publicDnsPrimary }}", "{{ .publicDnsSecondary }}"],
  "features": {"buildkit": true},
  "hosts": ["unix:///var/run/docker.sock", "tcp://0.0.0.0:2375"]
}
EOF
{{ end }}
