#!/bin/sh

set -eu

{{ if and
  not (eq .daemonManager "systemd")
  not .isDocker }}
# workaround: https://stackoverflow.com/questions/60549775/device-or-resource-busy-when-i-try-move-etc-resolv-conf-in-ubuntu18-04-how

file_tmp=$(mktemp)
cat /dev/stdin \
  | sed '/nameserver/d'
  > $file_tmp
cat <<EOF >> $file_tmp
nameserver {{ .publicDnsPrimary }}
nameserver {{ .publicDnsSecondary }}
EOF
cat $file_tmp
rm -rf $file_tmp

{{ end }}
