#!/bin/bash

set -euo pipefail

eval $(gather_facts --variable)

if [ "$DAEMON_MANAGER" != "sysvinit-like" ]; then
  exit 0
fi

set -x
file_tmp=$(mktemp)
cat /dev/stdin \
  | sed '/DOCKER_OPTS=/d'
  > $file_tmp
echo "DOCKER_OPTS=\"--config-file /etc/docker/daemon.json\"" >> $file_tmp

cat $file_tmp
rm -rf $file_tmp
